@font-face {
  font-family: 'Medium';
  src: url('../fonts/Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
--primary-color: black;
--background-color: white;
--text-color: black;
}
.dark-mode {
--primary-color: white;
--background-color: black;
--text-color: white;
}
ody {
    scrollbar-color: var(--primary-color) var(--background-color);
    scrollbar-width: thick;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
}

* {
    scrollbar-width: thick;
    scrollbar-color: var(--primary-color) var(--background-color);
}

*::-webkit-scrollbar-thumb:hover {
    scrollbar-color: var(--primary-color) var(--background-color);
}


::-moz-selection {
  color: var(--background-color);
  background: var(--primary-color);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

/* 

other stuff down here

*/

h1 {
font-size: 7em;
font-family: 'Medium', sans-serif;
color: var(--text-color);
margin-bottom: 1rem;
text-align:center
}

p, .button {
font-family: 'DM Sans', sans-serif;
}

hr {
margin-bottom: 2em;
color: var(--text-color);
}
p {
  align-items: center;
  text-align: center;
  color:var(--text-color);
}

header {
background-color: var(--primary-color);
padding: 10px;
text-align: left;
}

body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh; 
margin: 0;
font-family: 'DM Sans', sans-serif;
background-color: var(--background-color);
scrollbar-color: var(--primary-color) var(--background-color);
scrollbar-width: thick;
overflow-y: auto;
overflow-x: hidden;
}

#tool-layout {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
flex:1;
}

#controls {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 10px;
}

select, input[type="range"], button {
font-size: 20px;
padding: 8px;
margin: 5px;
margin-bottom: 1em;
border-radius: 10px;
border: 1px solid var(--text-color);
background-color: var(--primary-color);
color: var(--background-color);
transition: transform 0.1s ease;
}

select:hover {
background-color: var(--background-color);
border: 1px solid var(--text-color);
color: var(--primary-color);
}

button:hover {
background-color: var(--background-color);
color: var(--primary-color);
border: 1px solid var(--text-color);
}
button:active {
  transform: scale(0.98); 
}

#hexCodesContainer, #rgbCodesContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
width: 100%;
}

#hexCodesContainer p, #rgbCodesContainer p {
margin: 5px;
padding: 5px;
border: 1px solid var(--text-color);
background-color: var(--background-color);
border-radius: 5px; 
font-family: 'Space Mono', monospace;
color:var(--text-color);
}

#canvasWrapper {
  margin-top:10px;
}
#explanationContainer {
margin-top: 10px;
font-family: 'DM Sans', sans-serif;
color: var(--text-color);
max-width: 600px;
width: 100%;
text-align: center;
height: auto; 
line-height: 1.5;
}
code {
  font-family: 'Space Mono', monospace;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  padding: 2px 4px;
  border-radius: 3px;
}

a {
  color:var(--primary-color);
}

footer {
  background-color: var(--background-color);
  padding: 10px;
  text-align: center;
  width: 100%;
}

/* phone :3 */
@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }

  select, input[type="range"], button {
    font-size: 16px;
    padding: 6px;
  }

  #controls {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }

  #explanationContainer {
    height: auto;
  }

  #canvasWrapper {
    transform:scale(.5);
    margin-top: 5px;
  }

  #hexCodesContainer, #rgbCodesContainer {
    gap: 10px;
    padding: 10px;
  }

  #hexCodesContainer p, #rgbCodesContainer p {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
  }
}